@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans:wght@400;700&display=swap');
@import '../scss/blocks/globals/globals';
@import '../scss/blocks/header/header';
@import '../scss/blocks/header/__container/header__container';
@import '../scss/blocks/logo/logo';
@import '../scss/blocks/logo/__text/logo__text';
@import '../scss/blocks/navigation/__list/navigation__list';
@import '../scss/blocks/search-form/__button/search-form__button';
@import '../scss/blocks/search-form/__input/search-form__input';




.navigation__item {}


.content {
  width: 1170px;
  margin: 0 auto;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  min-height: 730px;
  padding-top: 30px;
  margin-bottom: 76px;
}
.card {
  position: relative;
  color: #fff;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.card_height_2x {
  grid-row-start: 1;
  grid-row-end: 3;
}
.card__title {
  position: absolute;
}
.card__author {
  position: absolute;
}
.card__label {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 62px;
  height: 22px;
  background-color: var(--blue);
  color: #fff;
  font: 400 12px/22px var(--f-f);
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}
.card__text-container {
  position: absolute;
  // left: 20px;
  bottom: 23px;
}
.posts {
  // padding-top: 76px;
}
.post {
  width: 770px;
}
.post__description {
  position: relative;
  width: 730px;
  padding: 72px 30px 30px 30px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  transform: translateY(-50%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}
.post__img {
  display: block;
  width: 770px;
  height: 440px;
  border-radius: 5px;
  object-fit: cover;
}
.post__title {
  margin: 0;
  font: 700 18px/25px var(--f-f);
  color: #171717;
}
.post__author {
  margin: 0;
  font: italic 400 14px/18px var(--f-f);
  color: #666;
}
.post__text {
  max-width: 614px;
  margin: 0;
  font: 400 14px/24px var(--f-f);
  color: #666;
}
.column-right {
  width: 270px;
  min-height: 2000px;
  border: 3px solid tomato;
}
.two-columns {
  display: flex;
  justify-content: space-between;
}
