@import '../vendor/normalize';
@import '../vendor/fonts/fonts';
@import '../scss/blocks/globals/globals';
@import '../scss/blocks/section-title/section-title';
@import '../scss/blocks/link/link';
@import '../scss/blocks/btn/btn';
@import '../scss/blocks/list/list';

@import '../scss/blocks/header/header';
@import '../scss/blocks/header/__container/header__container';
@import '../scss/blocks/logo/logo';
@import '../scss/blocks/logo/__text/logo__text';
@import '../scss/blocks/navigation/__list/navigation__list';
@import '../scss/blocks/navigation/__item/navigation__item';
@import '../scss/blocks/search-form/search-form';
@import '../scss/blocks/search-form/__button/search-form__button';
@import '../scss/blocks/search-form/__input/search-form__input';

@import '../scss/blocks/content/content';
@import '../scss/blocks/two-columns/two-columns';
@import '../scss/blocks/two-columns/__main/two-columns__main';
@import '../scss/blocks/two-columns/__sidebar/two-columns__sidebar';
@import '../scss/blocks/label/label';

@import '../scss/blocks/category/category';
@import '../scss/blocks/category/__item/category__item';
@import '../scss/blocks/category/__item/_height/category__item_height_2x';
@import '../scss/blocks/category/__image/category__image';
@import '../scss/blocks/category/__title/category__title';
@import '../scss/blocks/category/__author/category__author';
@import '../scss/blocks/category/__text-container/category__text-container';

@import '../scss/blocks/posts/posts';
@import '../scss/blocks/posts/__item/posts__item';
@import '../scss/blocks/posts/__description/posts__description';
@import '../scss/blocks/posts/__img/posts__img';
@import '../scss/blocks/posts/__title/posts__title';
@import '../scss/blocks/posts/__author/posts__author';
@import '../scss/blocks/posts/__text/posts__text';

@import '../scss/blocks/post/post';
@import '../scss/blocks/post/__img/post__img';
@import '../scss/blocks/post/__title/post__title';
@import '../scss/blocks/post/__subtitle/post__subtitle';
@import '../scss/blocks/post/__text/post__text';
@import '../scss/blocks/post/__link/post__link';


@import '../scss/blocks/about-us/about-us';
// подумать какие стили задать блоку post...
@import '../scss/blocks/about-us/__img/about-us__img';
@import '../scss/blocks/about-us/__title/about-us__title';
@import '../scss/blocks/about-us/__subtitle/about-us__subtitle';
@import '../scss/blocks/about-us/__text/about-us__text';

@import '../scss/blocks/popular-posts/__container/popular-posts__container';

@import '../scss/blocks/pagination/pagination';
@import '../scss/blocks/pagination/__item/pagination__item';
@import '../scss/blocks/pagination/__link/pagination__link';

@import '../scss/blocks/instagram-widget/instagram-widget';
@import '../scss/blocks/instagram-widget/__images/instagram-widget__images';
@import '../scss/blocks/instagram-widget/__image/instagram-widget__image';

@import '../scss/blocks/tags/tags';
@import '../scss/blocks/tags/__item/tags__item';

// Тут пока нет стилей
@import '../scss/blocks/most-popular/most-popular';
@import '../scss/blocks/most-popular/__title/most-popular__title';
@import '../scss/blocks/most-popular/__container/most-popular__container';

// <svg role="img"><use xlink:href="images/sprite.svg#unicorn"/></svg>
@import 'blocks/footer/footer';
@import 'blocks/footer/_top/footer_top';
@import 'blocks/footer/__inner/footer__inner';
@import 'blocks/footer/__header/footer__header';
@import 'blocks/footer/_bottom/footer_bottom';
@import 'blocks/footer/__column/footer__column';




.footer__newsletter {
  width: 100%;
  max-width: 270px;
}
.recent-posts__item {
  display: flex;
  justify-content: space-between;
}
.recent-posts {
  width: 293px;
}
.recent-posts__items {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 3px 0 0 0;
}
.recent-posts__image {
  max-width: 95px;
  max-height: 95px;
  border-radius: 3px;
}
.recent-posts__body {
  padding: 4px 0 0 0;
  max-width: 178px;
  color: #fff;
}
.recent-posts__title {
  margin: 0 0 13px 0;
  font: 700 15px/26px var(--f-f);
}
.recent-posts__subtitle {
  margin: 0;
  color: #fff;
  font: 400 italic 14px/14px var(--f-f);
}
.footer__social-links {
  display: flex;
  justify-content: space-between;
  max-width: 230px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__social-item {
  display: inline-block;
  width: 34px;
  height: 34px;
}
.footer__social-link {
  display: block;
}
.footer__social-icon {
  // width: 100%;
  // height: 100%;
}
.footer__short-description {
  max-width: 270px;
  margin: 0 0 62px 0;
  font: 14px/22px var(--f-f);
}




.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 270px;
  min-height: 170px;
}
.footer__form {
  padding: 15px 0 0 0;
}
.form__input {
  width: 100%;
  height: 50px;
  padding: 17px 15px 15px;
  font: 400 14px/18px var(--f-f);
  color:#AEB3BB;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
}
.form__input_dark {
  color:#AEB3BB;
  border: none;
  background-color: #373737;
}
