@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans:wght@400;700&display=swap');
@import '../scss/blocks/globals/globals';
@import '../scss/blocks/header/header';
@import '../scss/blocks/header/__container/header__container';
@import '../scss/blocks/logo/logo';
@import '../scss/blocks/logo/__text/logo__text';
@import '../scss/blocks/navigation/__list/navigation__list';
@import '../scss/blocks/navigation/__item/navigation__item';
@import '../scss/blocks/search-form/__button/search-form__button';
@import '../scss/blocks/search-form/__input/search-form__input';

@import '../scss/blocks/content/content';
@import '../scss/blocks/label/label';

@import '../scss/blocks/category/category';
@import '../scss/blocks/category/__item/category__item';
@import '../scss/blocks/category/__item/_height/category__item_height_2x';
@import '../scss/blocks/category/__image/category__image';
@import '../scss/blocks/category/__title/category__title';
@import '../scss/blocks/category/__author/category__author';
@import '../scss/blocks/category/__text-container/category__text-container';

@import '../scss/blocks/about-us/about-us';
@import '../scss/blocks/about-us/__img/about-us__img';





.posts {
  // padding-top: 76px;
}
.post__item {
  width: 770px;
}
.post__description {
  position: relative;
  width: 730px;
  padding: 72px 30px 30px 30px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  transform: translateY(-50%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}
.post__img {
  display: block;
  width: 770px;
  height: 440px;
  border-radius: 5px;
  object-fit: cover;
}
.post__title {
  margin: 0;
  font: 700 18px/25px var(--f-f);
  color: #171717;
}
.post__author {
  margin: 0;
  font: italic 400 14px/18px var(--f-f);
  color: #666;
}
.post__text {
  max-width: 614px;
  margin: 0;
  font: 400 14px/24px var(--f-f);
  color: #666;
}
.two-columns__sidebar {
  width: 270px;
  min-height: 2000px;
  border: 3px solid tomato;
}
.two-columns {
  display: flex;
  justify-content: space-between;
}
.two-columns__main {}

.about-us__title {
  margin: 0 0 8px 0;
  font: 700 18px/23px var(--f-f);
  color: #171717;
}
.about-us__subtitle {
  margin: 0 0 14px 0;
  font: italic 400 14px/18px var(--f-f);
  color: #999;
}
.about-us__text {
  margin: 0 0 21px 0;
  font: 400 15px/25px var(--f-f);
  color: #666;
}
.about-us__link {
  display: block;
  padding: 15px;
  background-color: #232323;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}
