
.page {
  font-family: 'PT Sans', sans-serif;
  background-color: #F2F2F2;
  font-size: 14px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
