:root {
  --blue: #4A90E2;
  --f-f: 'PT Sans', sans-serif;
}
.page {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  font: 400 14px/18px var(--f-f);
  text-decoration: none;
  color: #fff;
}
.link:hover {
  color: rgba(255, 255, 255, .6);
  transition: .6s color;
}
