:root {
  --blue: #4A90E2;
  --f-f: 'PT Sans', sans-serif;
}
.page {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
