.label {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 20px;
  width: 62px;
  height: 22px;
  padding: 2px 12px 4px;
  box-sizing: border-box;
  color: #fff;
  background-color: var(--blue);
  font: 400 12px/16px var(--f-f);
  border-radius: 3px;
}
