.label {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 62px;
  height: 22px;
  background-color: var(--blue);
  color: #fff;
  font: 400 12px/22px var(--f-f);
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}
