@import url("https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans:wght@400;700&display=swap");
:root {
  --blue: #4A90E2;
  --f-f: "PT Sans", sans-serif;
}

.page {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
}

.section-title {
  font: 700 18px/23px var(--f-f);
  color: #171717;
  margin: 0;
}

.link {
  font: 400 14px/18px var(--f-f);
  text-decoration: none;
  color: #fff;
}

.link:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.6s color;
}

.btn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #232323;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  background-color: #000;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  min-height: 90px;
  margin: 0 auto;
}

.logo__text {
  display: inline-block;
  width: 39px;
  height: 23px;
  background-color: #4A90E2;
  border-radius: 3px;
  font-size: 14px;
  line-height: 23px;
  font-family: "Lato";
  text-align: center;
  vertical-align: center;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  min-width: 368px;
}

.search-form__button {
  position: relative;
  width: 16px;
  height: 17px;
  background-color: #000;
}

.search-form__input {
  display: none;
}

.content {
  width: 1170px;
  margin: 0 auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__sidebar {
  width: 270px;
  min-height: 2000px;
  border: 3px solid tomato;
}

.label {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 62px;
  height: 22px;
  background-color: var(--blue);
  color: #fff;
  font: 400 12px/22px var(--f-f);
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  min-height: 730px;
  padding-top: 30px;
  margin-bottom: 76px;
}

.category__item {
  position: relative;
  color: #fff;
}

.category__item_height_2x {
  grid-row-start: 1;
  grid-row-end: 3;
}

.category__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.category__title {
  position: absolute;
}

.category__author {
  position: absolute;
}

.category__text-container {
  position: absolute;
  bottom: 23px;
}

.posts__item {
  width: 770px;
}

.posts__description {
  position: relative;
  width: 730px;
  padding: 72px 30px 30px 30px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  transform: translateY(-50%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.posts__img {
  display: block;
  width: 770px;
  height: 440px;
  border-radius: 5px;
  object-fit: cover;
}

.posts__title {
  margin: 0;
  font: 700 18px/25px var(--f-f);
  color: #171717;
}

.posts__author {
  margin: 0;
  font: italic 400 14px/18px var(--f-f);
  color: #666;
}

.posts__text {
  max-width: 614px;
  margin: 0;
  font: 400 14px/24px var(--f-f);
  color: #666;
}

.post {
  position: relative;
  width: 270px;
  margin-bottom: 39px;
}

.post__img {
  display: block;
  width: 270px;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.post__title {
  margin: 0 0 10px 0;
  font: 700 18px/23px var(--f-f);
  color: #171717;
}

.post__subtitle {
  margin: 0 0 10px 0;
  font: italic 400 14px/18px var(--f-f);
  color: #999;
}

.post__text {
  margin: 0 0 21px 0;
  font: 400 15px/25px var(--f-f);
  color: #666;
}

.post__link {
  display: block;
  padding: 15px;
  background-color: #232323;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.about-us {
  width: 270px;
  min-height: 420px;
  margin-bottom: 60px;
}

.about-us__img {
  display: block;
  width: 270px;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.about-us__title {
  margin: 0 0 8px 0;
  font: 700 18px/23px var(--f-f);
  color: #171717;
}

.about-us__subtitle {
  margin: 0 0 14px 0;
  font: italic 400 14px/18px var(--f-f);
  color: #999;
}

.about-us__text {
  margin: 0 0 21px 0;
  font: 400 15px/25px var(--f-f);
  color: #666;
}

.popular-posts__container {
  padding: 23px 0 0 0;
}

.instagram-widget {
  padding: 20px 0 0 0;
}

.instagram-widget__images {
  display: grid;
  grid-template-columns: 130px 130px;
  grid-template-rows: 130px 130px 130px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 270px;
  margin: 0 0 10px 0;
  padding: 25px 0 0 0;
}

.tags__item {
  display: inline-block;
  color: #171717;
  border-radius: 3px;
  background-color: #EBEBEB;
  padding: 7px 16px 5px 16px;
  font: 400 14px/18px var(--f-f);
  margin-bottom: 10px;
  margin-right: 8px;
}

.most-popular__title {
  margin: 0 0 23px 0;
  font: 700 30px/38px var(--f-f);
}

.most-popular__container {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
}

.pagination__item {
  margin-right: 10px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
}

.pagination__link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  font: 400 16px/16px var(--f-f);
  text-align: center;
  color: #171717;
  text-decoration: none;
  box-sizing: border-box;
}

.pagination__link_activ {
  background-color: #000;
  color: #fff;
}

.search-form__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.subscribe-form__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 17px 15px 15px 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #AEB3BB;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
}

.subscribe-form__button {
  display: block;
}