.category {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 29px;
  width: 100%;
  min-height: 559px;
  padding-top: 30px;
  box-sizing: border-box;
}
